body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80;
  text-align: center
}

.example {
  color: blue;
}

th {
  border: 1px solid;
}

td {
  border: 1px solid;
}

.textDiv {
  margin: auto;
  width: 50%;
}

.tableDiv {
  margin: auto;
  width: 50%;
}

.buttonDiv {
  margin: auto;
  width: 50%;
}

.imageDiv {
  margin: auto;
  width: 50%;
}